@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-zinc-950: #101012;
  --color-zinc-900: #18181B; /* Custom slightly darker */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}
